.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: black;
  height: 55px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 5px;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.headerL h1 {
  cursor: pointer;
  color: orangered;
  text-shadow: 0px 0px 10px red;
  margin-left: 15px;
}

.gggg {
  width: 60%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.error_msg,
.success_msg {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #f3464685;
  color: red;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
}

.success_msg {
  background-color: #5cdd5c83;
  color: rgb(24, 252, 24);
}

.headerR {
  flex: 1;
  position: absolute;
  right: 0;
  color: red;
  margin-right: 5px;
  display: flex;
}

.buttonView {
  width: 150px;
  border-radius: 10px !important;
  font-size: 1.2rem;
  margin-right: 25px;
  font-weight: bold;
  padding: 10px;
  border: 3px solid rgb(49, 48, 48);
  background: none;
  color: snow;
  transition: background-color 0.7s ease;
}

.buttonView:hover {
  background-color: rgb(49, 48, 48);
}

.ragister button {
  padding: 0.75rem;
  font-weight: bold;
}

.headerR i {
  font-family: cursive;
}

.link {
  color: aqua;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: rgba(62, 246, 237, 0.8);
}

.logo {
  height: 40px;
  width: 40px;
  background-color: #014a42;
  border-radius: 50%;
  /* margin-left: 15px; */
  cursor: pointer;
}

.logoImg {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.logoU {
  height: 40px;
  width: 40px;
  background-color: #014a42;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}

.logoImgU {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.hdhh {
  height: 40px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
}

.h1 {
  width: 10%;
  background-color: red;
}

.h2 {
  width: 60%;
  background-color: blue;
}

.h3 {
  width: 30%;
  background-color: orange;
}

.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.midPage {
  height: 100%;
  background-color: #022f3a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.longS {
  height: 450px;
  width: 500px !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}
.ragister {
  height: 10%;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(0, 0, 0, 0.351);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
}

.ragister button {
  width: 150px;
  background: none;
  font-size: 1.2rem;
  border: 3px solid aqua;
  transition: background-color 0.7s ease, color 0.4s ease;
  border-radius: 20px;
  color: snow;
}

.active {
  background-color: aqua !important;
  color: black !important;
}

.xxx {
  color: snow;
}

.authBox {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
